.footbar {
    background-color: #333;
    color: #FED467;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    z-index: 1000;
    border-top: 1px solid #FED467;
  }